<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>UseAirFlick</string>
		<key>Title</key>
		<string>Use AirFlick. (If use AirFlick, below options are ignored.)</string>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>appletv.local.</string>
		<key>Key</key>
		<string>NameOfAppleTV</string>
		<key>Title</key>
		<string>Name of Apple TV (default: appletv.local.)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>PasswordOfAppleTV</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Password of Apple TV (default: &lt;none&gt;)</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
